body {
    
    color: white;
    background-color: dimgray;
}

h1 {
    
    text-align: center;
    font-family: serif;  
    color: white;
}

nav {
    
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    padding: 2em;
    position: sticky;
    width: 100%;
    z-index: 2;
   
}

a:link {
    
  color: white;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:visited {
    
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    
  color: (233, 233, 233);
  /*background-color: transparent;*/
  text-decoration: none;
}

a:active {
    
  color: white;
  /*background-color: transparent;*/
  text-decoration: none;
}